<ol class="breadcrumb">
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/instructor">Instructors</a></li>
    <li class="active">Manage Instructors</li>
</ol>

<br/>

<a class="btn btn-primary" routerLink="/instructor">Return to Instructors</a>

<h1>Manage Instructor</h1>

<div [ngClass]="(errorMessage)?'alert alert-danger':'alert alert-success'" role="alert" *ngIf="errorMessage || successMessage">
    {{errorMessage}} {{successMessage}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<form (ngSubmit)="saveInstructor(instructor.instructor_id)"  #instructorForm="ngForm" class="form-horizontal">
  <input [(ngModel)]="instructor.instructor_id" #instructor_id="ngModel" type="hidden" name="instructor_id">
  <div class="form-group">
    <label for="first_name" class="col-sm-2 control-label">First Name</label>
    <div class="col-sm-10">
      <input [(ngModel)]="instructor.first_name" #first_name="ngModel" type="text" class="form-control" id="first_name" name="first_name" placeholder="First Name" required>
    </div>
  </div>
  <div class="form-group">
    <label for="last_name" class="col-sm-2 control-label">Last Name</label>
    <div class="col-sm-10">
      <input [(ngModel)]="instructor.last_name" type="text" class="form-control" id="last_name" name="last_name"  placeholder="Last Name" required>
    </div>
  </div>
  
  <div class="form-group">
    <label for="major_id" class="col-sm-2 control-label">Major</label>
    <div class="col-sm-10">
      <select class="form-control" [compareWith]="compareMajorId" [(ngModel)]="instructor.major_id" id="major_id" name="major_id">
        <option *ngFor="let major of major" [ngValue]= "major">{{major.major}}</option>
      </select>
    </div>
      <!--https://stackoverflow.com/questions/39501595/angular-2-select-option-dropdown-how-to-get-the-value-on-change-so-it-can-be-->
      <!--https://angular.io/api/forms/SelectControlValueAccessor-->
  </div>

  <!--<div class="form-group">
    <label for="major_id" class="col-sm-2 control-label">Major</label>
    <div class="col-sm-10">
      <input [(ngModel)]="instructor.major_id" type="text" class="form-control" id="major_id" name="major_id" placeholder="Major ID" required>
    </div>
  </div>-->

  <div class="form-group">
    <label for="years_of_experience" class="col-sm-2 control-label">Years of Experience</label>
    <div class="col-sm-10">
      <input [(ngModel)]="instructor.years_of_experience" type="text" class="form-control" id="years_of_experience" name="years_of_experience" placeholder="Years Experience">
    </div>
  </div>
  <div class="form-group">
    <label for="tenured" class="col-sm-2 control-label">Tenured</label>
    <div class="col-sm-10">
      <select [(ngModel)]="instructor.tenured" class="form-control" id="tenured" name="tenured">
        <option value="1">Yes</option>
        <option selected value="2">No</option>
      </select>
    </div>
  </div>
   <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>